<div class="root_royalEditor_component">
    <div class="content_royalEditor_component">
        <form action="">
            <!-- GROUP 1 - TITLE -->
            <div class="cvTitle_container">
                <input class="form-control cvTitle inputTitle" type="text" name="cvTitle" id="" placeholder="Cv Title" value="Cv Title">
            </div><!-- END GROUP -->
            <!-- GROUP 2 - PERSONAL DATA -->
            <div class="row">
                <div class="col">
                    <input class="form-control groupTitle inputTitle" type="text" name="PersoanlData" id="" placeholder="Personal Data" value="Personal Data">
                    <div class="row align-items-start">
                        <div class="col">
                            <!--  -->
                            <label class="form-label" for="JobTitle">Job Title</label>
                            <input class="form-control" type="text" name="JobTitle" id="" placeholder="Job title" placeholder="Job title">
                            <!--  -->
                            <label class="form-label" for="Name">Name</label>
                            <input class="form-control" type="text" name="Name" placeholder="Name">
                            <!--  -->
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="" placeholder="Email">
                            <!--  -->
                            <label class="form-label" for="Country">Country</label>
                            <input class="form-control" type="text" name="Country" placeholder="Country">
                        </div>
                        <div class="col">
                            <!--  -->
                            <label class="form-label" for="ProfilePhoto">Profile Photo</label>
                            <input class="form-control" type="file" name="ProfilePhoto">
                            <!--  -->
                            <label class="form-label" for="Secondname">Secondname</label>
                            <input class="form-control" type="text" name="Secondname" placeholder="Secondname">
                            <!--  -->
                            <label class="form-label" for="Phone">Phone</label>
                            <input class="form-control" type="number" name="Phone" id="" placeholder="Phone">
                            <!--  -->
                            <label class="form-label" for="City">City</label>
                            <input class="form-control" type="text" name="City" placeholder="City">
                        </div>
                    </div><!-- END GROUP -->
                </div>
            </div><!-- END GROUP -->
        </form>
    </div>
</div>